@media (min-width: 640px) {
  /* Matches sm:h-[452px] */
  .custom-image-gallery .image-gallery-image {
    height: 452px;
  }
}

@media (min-width: 768px) {
  /* Matches md:h-[652px] */
  .custom-image-gallery .image-gallery-image {
    height: 652px;
  }
}

@media (min-width: 1024px) {
  /* Matches lg:h-[652px] */
  .custom-image-gallery .image-gallery-image {
    height: 652px;
  }
}