@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InterTight-Bold";
  src: local("InterTight-Bold"),
    url("./assets/fonts/InterTight-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "InterTight-Medium";
  src: local("InterTight-Medium"),
    url("./assets/fonts/InterTight-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "InterTight-Regular";
  src: local("InterTight-Regular"),
    url("./assets/fonts/InterTight-Regular.ttf") format("truetype");
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}